a {
	color: #F44;
	text-decoration: underline;
}

a:hover {
	background-color: #FFA;
}

a img {
	border: none;
}

#bannerarea {
	margin-bottom: 2em;
}

body {
	background: #1B323A;
	background: -moz-linear-gradient(left, #1B323A 0%, #1C6EA4 50%, #1B323A 100%);
	background: -webkit-linear-gradient(left, #1B323A 0%, #1C6EA4 50%, #1B323A 100%);
	background: linear-gradient(to right, #1B323A 0%, #1C6EA4 50%, #1B323A 100%);
}

.table1{
	background-color: #294d5c;
	color: white;
	border-radius:5px;
}

.form1{
	overflow: hidden;
	display: grid;
    justify-content: space-evenly;
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
	margin:0px;
}

.div0{
	overflow: hidden;
    display: grid;
    justify-content: space-evenly;
    width: auto;
    padding-top: 5em;
}

/* form styles */
fieldset {
	background-color: #294d5c;
	border-radius: 10px;
	color:white;
	border:0px;
}
.banner{
	display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	background-color: #0896B2;
	height:90px;
	width:100%;
	box-shadow: 5px 5px 15px 5px #4C60FF;
	border-bottom: 4px outset #1C35A4;
}
.app{
	background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
	height:90px;
	width:100%;
}
#bannertext{
	grid-column:5;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.div1{
	padding-top: .5em;
	background-color: #77afd3;
	border: 2px outset gray;
	border-radius: 10px;
	width:20%;
	margin: auto;
	padding: 10px;
	text-align:center;
}
.div2{
	padding-top: .5em;
}
.div3{
	display:contents;
}
.div4{
	margin-top:5px;
	width:40%;
	margin:auto;
	background-color: #EEDA83;
	border-radius: 10px;
	padding-bottom: .5em;
}
.error{
	padding-top: .5em;
	background-color: #FDB397;
	border: 2px outset gray;
	border-radius: 10px;
	padding-bottom: .5em;
	width:20%;
	margin:auto;
}
.ul1{
    display:flex;
	list-style:none;
	padding-left: 0em;
}
.li1{
    margin-right:3em;
    margin-bottom:0;
	font-size:20px;
}

.ul2{
	font-size:9pt;
	list-style-type: decimal;
	color: #205B9E;
}
.li2{
    margin-left:3em;
    margin-bottom:0;
	font-size:20px;
}
 
/* the bold text labels to the left of each form field */
fieldset strong,
ul strong,
fieldset label.left,
fieldset .column {
	float: left;
	width: 7em;
}
#h13{
	color:white;
}
#h11{
	text-align:center;
}
#h12{
	text-align:center;
	font-size: 36pt;
	color: #205B9E;
	margin-top: 0em;
}

#p1{
	margin-left: 10px;
}
#p2{
	text-align: center;
}
input[type="submit"]{
	background-color: gray;
	font-size: 120%;
	font-weight: bold;
	color:white;
}
input[type="submit1"]{
	background-color: transparent;
	color:white;
}

.signup{
	border:0px;
	border-radius:2px;
	margin-left:35%;
}

legend{
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
	color: black;
	font-weight:bold;
	margin:auto;
}

.match {
	margin-bottom: 1em;
}

.match img {
	width: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
}

.match p {
	background-color: #E0E0FF;
	clear: left;
}

.match ul{
	padding-left: 10px;
	margin-right:100px;
}

ul li a img{
	vertical-align: middle;
}

#w3c{
	clear: both;
}
.img1{
	width:40px;
	height:40px;
	background: #E0E0FF;
	margin-left:5px;
	margin-right:5px;
}